<form style="display: flex;flex-direction: column; max-width: 400px;" [formGroup]="formulaire" (ngSubmit)="inscription()">

    <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error>L'email est obbligatoire</mat-error>
    </mat-form-field>
    @if (emailDejaUtilise){
        <mat-error>Cet email est déjà utilisé</mat-error>
        }

    <mat-form-field >
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="motDePasse" type ="password">
        <mat-error>Le mot de passe est obbligatoire</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">S'inscrire</button>
</form>
