<form 
    [formGroup]="formulaire" 
    (ngSubmit)="onAjoutLocal()"
    style="display: flex; flex-direction:column; justify-content: center; align-items: center">
    
    <mat-form-field >
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Ex. Local" formControlName="nom">
        <mat-error>Le nom est obbligatoire</mat-error>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Metre Carré</mat-label>
        <input matInput placeholder="Ex. 50" formControlName="mcarre">
        <mat-error>Le mot de passe est obbligatoire</mat-error>
    </mat-form-field>

    

    <button mat-raised-button type="submit" color="primary">
        Ajouter un local
    </button>

</form>